  <div class="spear-container">
    <img src="assets/BG.png" class="spear" />
    <img src="assets/BG.png" class="spear" />
    <img src="assets/BG.png" class="spear" />
    <img src="assets/BG.png" class="spear" />
    <img src="assets/BG.png" class="spear" />
  </div>







<div class="home-container">
  <!-- First Section: Post Errand -->
  <div class="home-section card1">
    <div class="overlay"></div>
    <h2>Need a helping hand? Post your errand now and let someone take care of it for you—quick, easy, and hassle-free!</h2>
    <button class="primary-button" routerLink="/post">Post Errand</button>  </div>

  <!-- Second Section: Register as Runner -->
  <div class="home-section card2">
    <div class="overlay"></div>
    <h2>"Become a Sibat Runner and turn your free time into extra income. Register now and start running errands!</h2>
    <button class="secondary-button" routerLink="/registration-runner">Register Now</button>
  </div>
</div>
