<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" class="sidebar">
    <mat-nav-list>
      <a mat-list-item routerLink="/runner/tasks" routerLinkActive="active-link">Task Management</a>
      <a mat-list-item routerLink="/runner/profile" routerLinkActive="active-link">Profile</a>
      <a mat-list-item (click)="navigateToFirstChat()" routerLinkActive="active-link">Chat</a>
      <a mat-list-item routerLink="/runner/history" routerLinkActive="active-link">Errand History</a>
      <a mat-list-item routerLink="/runner/remitance" routerLinkActive="active-link">Remittance</a>
    </mat-nav-list>
    <!-- Logout Button at the Bottom -->
    <div class="logout-container">
      <a mat-list-item class="logout-button" (click)="logout()">Logout</a>
    </div>
  </mat-sidenav>

  <!-- Main Content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar class="navbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="logo-container">
        <img src="assets/Sibat-Runner.png" alt="Logo" class="logo" />
      </span>
    </mat-toolbar>

    <!-- Dynamic Content -->
    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="spear-container">
  <img src="assets/BG.png" class="spear" />
</div>